.flexbox {
    display: flex;
    justify-content: center;
    align-items: center;
}

.flexbox--column {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.flexbox--row {
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
}

.flexbox--row--space-around {
    display: flex;
    flex-direction: row;
    justify-content: space-around;
    align-items: center;
}

.flexbox--row--space-between {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
}

.flexbox--row--justify-start {
    display: flex;
    flex-direction: row;
    justify-content: flex-start;
    align-items: center;
}

.flexbox--row--justify-end {
    display: flex;
    flex-direction: row;
    justify-content: flex-end;
    align-items: center;
}
