<ion-header>
  <ion-toolbar>
    <ion-title>Reciptory</ion-title>
  </ion-toolbar>
</ion-header>

<ion-content class="ion-padding">
  <ion-grid>
    <ion-row class="ion-padding">
      <ion-col class="ion-text-center">
        <img style="width: 80px; height: 80px;"
             src="assets/images/rc-reciptory.png"
             alt="Reciptory logo: two crossed uppercase R characters." />
      </ion-col>
    </ion-row>
    <form [formGroup]="loginForm"
          (submit)="login()">
      <ion-row>
        <ion-col>
          <ion-item>
            <ion-label class="ion-padding-bottom"
                       position="floating">
              <ion-icon name="person"></ion-icon> E-mail
            </ion-label>
            <ion-input type="email"
                       formControlName="email">
            </ion-input>
          </ion-item>
          <div class="ion-padding error-messages">
            <ng-container *ngFor="let error of errorMessages.email">
              <div class="error-message"
                   *ngIf="loginForm.get('email').hasError(error.type) &&
                          (loginForm.get('email').dirty ||
                          loginForm.get('email').touched)">
                {{ error.message }}
              </div>
            </ng-container>
          </div>
        </ion-col>
      </ion-row>
      <ion-row>
        <ion-col>
          <ion-item>
            <ion-label class="ion-padding-bottom"
                       position="floating">
              <ion-icon name="unlock"></ion-icon>Password
            </ion-label>
            <ion-input type="password"
                       formControlName="password">
            </ion-input>
          </ion-item>
          <div class="ion-padding error-messages">
            <ng-container *ngFor="let error of errorMessages.password">
              <div class="error-message"
                   *ngIf="loginForm.get('password').hasError(error.type) &&
                          (loginForm.get('password').dirty ||
                          loginForm.get('password').touched)">
                {{ error.message }}
              </div>
            </ng-container>
          </div>
        </ion-col>
      </ion-row>
      <ion-row>
        <ion-col>
          <ion-button type="submit"
                      color="primary"
                      expand="block"
                      [disabled]="!loginForm.valid">
            LOG IN
          </ion-button>
        </ion-col>
      </ion-row>
    </form>
    <ion-row>
      <ion-col>
        <ion-button color="light"
                    expand="block"
                    [routerLink]="['/register']">
          NOT REGISTERED YET?
        </ion-button>
      </ion-col>
    </ion-row>
  </ion-grid>
</ion-content>